p Cost per Click
ul
    li Rate = #{rate}
    li Duration = #{displayDuration}
    li CPC = #{cpc} $
    li Budget = #{budget} $
    li Clicks per day = #{clicks}

p Rate * Duration * Budget = #{planCost} $